<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input (keyup)="buscarHospitales(input.value)" type="text" class="form-control" placeholder="Buscar hospital">
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="text-right">
                    <h3 class="card-title">Hospitales registrados (<small>{{ totalRegistros }}</small>)
                    </h3>
                    <button (click)="controlCrearHospital()" type="button" class="btn waves-effect waves-light btn-rounded btn-primary" *ngIf="!creandoHospital">
                      <i class="fa fa-plus"></i>
                      Crear hospital
                    </button>
                </div>

                <div class="col-md-12" *ngIf="creandoHospital">
                    <h4>Crear hospital</h4>
                    <input #inputCrear type="text" class="form-control" placeholder="Crear hospital">
                    <hr>
                    <button class="btn btn-primary" (click)="crearHospital(inputCrear.value)">Guardar</button>
                    <button class="btn btn-danger" (click)="controlCrearHospital()">Cancelar</button>
                </div>

                <table class="table table-hover" *ngIf="!creandoHospital">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Hospital</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let hospital of hospitales">
                            <td class="w70">
                                <img (click)="mostrarModal(hospital._id)" [src]="hospital.img | imagen:'hospital'" class="img-50 pointer">
                            </td>
                            <td>
                                <input type="text" name="nombre" [(ngModel)]="hospital.nombre" [value]="hospital.nombre" class="form-control">
                            </td>
                            <td>
                                <button (click)="actualizarHospital(hospital)" class="btn btn-primary">
                              <i class="fa fa-save"></i>
                            </button>

                                <button (click)="borrarHospital(hospital)" class="btn btn-danger">
                                <i class="fa fa-trash-o"></i>
                              </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>